ul {
    display: flex;
    list-style: none;
    padding: 5px;

}
li {
    flex-direction: row;
    padding: 1px;
    border: solid 2px black;
    background-color: white;
    float: left;
}

.li.active {
    background-color: gray;

}
.navigation {
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    width: 65vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: gray;
}

.tabcontent {
    border: solid 2px black;
    align-self: center;
    width: 65vw;
    height: 45vh;

}
#info1 {
    background-color: gray;
}
#info2 {
    background-color: red;

}
#info3 {
    background-color: pink;
}
div.hidden {
    display: none;

}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}